.db-navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.db-welcome {
    font-size: 2rem;
    margin-top: 2rem;
    color: #ffcef8;
    font-weight: bold;
}

.db-nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.db-nav-links a {
    color: #ffffff;
    font-size: 1.2rem;

}

.db-nav-links a:hover {
    color: #5cf4ff;
}

.db-logs {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #f2fcf5; 
}